<mat-card>
    <mat-card-header>
        <mat-card-title>Pemrograman Visual</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="pemvisDetail({},-1)">Isi Daftar Hadir</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>
                <th></th>  
                <th>NIM</th>
                <th>Nama</th>
                <th>Kelas</th>
                <th>Program Studi</th>
                <th>Fakultas</th>
                <th align="right"></th>
            
            </thead>
            <tbody>
                <tr *ngFor="let pemviss of pemvis; let idx=index">
                    <td>{{idx+1}}</td>
                    <td>{{pemviss.nim}}</td>
                    <td>{{pemviss.nama}}</td>
                    <td>{{pemviss.kelas}}</td>
                    <td>{{pemviss.prodi}}</td>
                    <td>{{pemviss.fakultas}}</td>
                    <td align="right">
                        <button mat-button color="accent"(click)="pemvisDetail(pemviss,idx)">Edit</button>
                        <button mat-button color="primary"(click)="deletepemvis(pemviss.id, idx)"[disabled]="loadingDelete[idx]">{{ loadingDelete[idx] ? 'Deleting':'Delete'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
 </mat-card>
 
 