<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            width: 100%;
            padding: 10px;
            height: 255px;
        }

    </style>
</head>

<body>
    <div class="row">

        <div class="column" style="background-color:#b9d864;">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Teknologi Website Lanjut</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="uk-flex">
                        <span class="uk-width-expand"></span>
                        <button mat-raised-button color="primary" routerLink="/admin/tekweb">View Class</button>
                    </div>
                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                            <th>NIM</th>
                            <th>Nama</th>
                            <th>Kelas</th>
                            <th>Program Studi</th>
                            <th>Fakultas</th>
                        </thead>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column" style="background-color:#62760C;">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Pemrograman Visual</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="uk-flex">
                        <span class="uk-width-expand"></span>
                        <button mat-raised-button color="primary" routerLink="/admin/pemvis">View Class</button>
                    </div>
                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                            <th>NIM</th>
                            <th>Nama</th>
                            <th>Kelas</th>
                            <th>Program Studi</th>
                            <th>Fakultas</th>
                        </thead>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="column" style="background-color:#b9d864;">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Sekuritas Komputer</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="uk-flex">
                        <span class="uk-width-expand"></span>
                        <button mat-raised-button color="primary" routerLink="/admin/sekuritaskomputer">View Class</button>
                    </div>
                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                            <th>NIM</th>
                            <th>Nama</th>
                            <th>Kelas</th>
                            <th>Program Studi</th>
                            <th>Fakultas</th>
                        </thead>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</body>
</html>